@import "test_men";
body{
  background: #eee;
  font-size: 15px;
  border-radius: 5px;
  display: flex;

}
p{
  background: #0982c1;
}
.svg_img{
  width: 32px;
  height:32px;
}
:fullscreen a {
  display: flex;

}
